##	Day 9 – Exercises

##•	Write a program to loop through a list of numbers and add +2 to every value to elements in list

In [1]:
li=[1,2,3,4,5,6,7]
for i in range(len(li)):
    li[i]=li[i]+2
print(li)

[3, 4, 5, 6, 7, 8, 9]

##•	Write a program to get the below pattern
54321

4321

321

21

1

In [7]:

for i in range(5,0,-1):
  for j in range(i,0,-1):
     print(j,end='')
  print(' ')

54321
4321
321
21
1

##•	Python Program to Print the Fibonacci sequence

In [10]:
n=int(input("Enter number"))
a=-1
b=1
for i in range(n):
   c=a+b
   print(c,end=' ')
   a=b
   b=c

Enter number10
0 1 1 2 3 5 8 13 21 34

##•	Explain Armstrong number and write a code with a function

A positive integer is called an Armstrong number of order n if

abcd... = an + bn + cn + dn + ...

153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [12]:

num = int(input("Enter a number: "))
def Check_Armstrong(num):
     sum = 0
     temp = num
     while temp > 0:
        digit = temp % 10
        sum += digit ** 3
        temp //= 10
     if num == sum:
          print(num,"is an Armstrong number")
     else:
          print(num,"is not an Armstrong number")
Check_Armstrong(num)

Enter a number: 153
153 is an Armstrong number

##•	Write a program to print the multiplication table of 9

In [13]:
num=9
for i in range(1,11):
   print(num,"*",i,"=",num*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

##•	Check if a program is negative or positive

In [17]:
num = int(input("Enter a number: "))
def check_pos_and_neg(num):
     if num>=0:
          print(num,"is positive")
     else:
          print(num,"is negative")
check_pos_and_neg(num)

Enter a number: 12
12 is positive

In [18]:
num = int(input("Enter a number: "))
check_pos_and_neg(num)

Enter a number: -8
-8 is negative

##•	Write a program to convert the number of days to ages

In [23]:
def convert_days_to_age(days):
    year=days/365
    print("{:.2f}".format(year),'Years')
days=int(input("Enter your days :"))
convert_days_to_age(days)

Enter your days :12060
33.04 Years

##•	Solve Trigonometry problem using math function write a program to solve using math function

In [25]:
import math
def math_trigo_func(x,num):
    if x=='sin':
        print(math.sin(num))
    elif  x=='cos':
        print(math.cos(num))
    elif x=='tan':
        print(math.tan(num))
    elif x=='sec':
        print(math.sec(num))
    elif x=='cosine':
        print(math.cosine(num))
    elif x=='cosec':
        print(math.cosec(num))
x=input("Enter trigo function name :")
num=int(input("Enter angle: "))
math_trigo_func(x,num)

Enter trigo function name :sin
Enter angle: 90
0.8939966636005579

In [26]:
math_trigo_func('cos',90)

-0.4480736161291701

##•	Create a calculator only on a code level by using if condition (Basic arithmetic calculation)

In [27]:
print("Calculator")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")

# input choice
ch=int(input("Enter Choice(1-4): "))

if ch==1:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a+b
    print("Sum = ",c)
elif ch==2:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a-b
    print("Difference = ",c)
elif  ch==3:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a*b
    print("Product = ",c)
elif ch==4:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a/b
    print("Quotient = ",c)
else:
    print("Invalid Choice")

Calculator
1.Add
2.Substract
3.Multiply
4.Divide
Enter Choice(1-4): 3
Enter A:6
Enter B:9
Product =  54