Name : Vinita singh

### Exercise:
### 1)Create three variables (a,b,c) to same value of any integer & do the following
a) Divide a by 10

In [2]:
x=int(input())
a=x/10
print(a)

20
2.0

b) Multiply b by 50

In [5]:
x=int(input())
b=x*50
print(b)

4
200

c) Add c value by 60

In [4]:
x=int(input())
c=x+60
print(c)

4
64

2)Create a String variable of 5 characters and replace the 3rd character with G

In [16]:
x='abcde'
x=x.replace('c','G')
print(x)

abGdef

3)Create two values (a,b) of int,float data type & convert the
vise versa, Hint : convert a from int to float datatype & b from
float to int datatype

In [18]:
a=4
b=4.5
a,b=float(a),int(b)
print('a =',a)
print('b =',b)

a = 4.0
b = 4