Day 8
#Exercise

##• Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

##• Write a program to sort the value from descending to ascending in list and convert it in to a set.

In [ ]:
li=[9,8,7,6,5,4,3,2] #list is in descending 
li.sort()#now list in ascending
y=set(li)
print(y)
type(y)

{2, 3, 4, 5, 6, 7, 8, 9}

set

##• Write a Python program to list number of items in a dictionary key and sort the list with the help of a function & without the function.

In [ ]:
d1 = {'a': [100,45,90,67], 'c': [200,60,34,56],'b':[50,23,90,54],'d':[70,56,45,80]}
ans={i:sorted(d1[i]) for i in sorted(d1)}
print(ans)

{'a': [45, 67, 90, 100], 'b': [23, 50, 54, 90], 'c': [34, 56, 60, 200], 'd': [45, 56, 70, 80]}

In [ ]:
def fun(d1):
   ans=dict()
   for i in sorted(d1):
      ans[i]=sorted(d1[i])
   return ans

In [ ]:
fun(d1)

{'a': [45, 67, 90, 100],
 'b': [23, 50, 54, 90],
 'c': [34, 56, 60, 200],
 'd': [45, 56, 70, 80]}

## • Write a Python program to get a string from a given string (user input) and change the first occurrence of the word to a user specified input.

In [ ]:
s=input("Enter a string :")
l=input("Enter a letter: ")
print(l+s[1:])

Enter a stringHello World
Enter a letter: h
hello World

##Write a Python program to get a string from a given string where all occurrences of its first char have been changed to capital letter.

In [ ]:
s="hello i am vinita "
print(s.capitalize())

Hello i am vinita

##• Write a Python program to find the repeated items of a list

In [ ]:
from collections import Counter
li=[1,1,5,2,3,7,1,3,5,7,8,9]
x=Counter(li)
new_li=[i for i in x if x[i]>1]
print(new_li)

[1, 5, 3, 7]

##Write a Python program to check the sum of three elements and divided by value which is given as an input by the user

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
sum=a+b+c
print(sum)
x=int(input("Enter no:"))
print(sum/x)

Enter first number:4
Enter second number:5
Enter third number:3
12
Enter no:3
4.0

##Write a Python program to find the Mean,median,mode among three given numbers

In [1]:
# list of elements to calculate mean
n_num = [1, 2, 7]
n = len(n_num)
  
get_sum = sum(n_num)
mean = get_sum / n
  
print("Mean / Average is: " + str(mean))

Mean / Average is: 3.3333333333333335

In [5]:
# list of elements to calculate median
n_num = [1, 2, 7,8]
n = len(n_num)
n_num.sort()
  
if n % 2 == 0:
    median=(n_num[n//2]+n_num[n//2-1])/2
else:
    median = n_num[n//2]
print("Median is: " + str(median))

Median is: 4.5

In [7]:
from collections import Counter
  
# list of elements to calculate mode
n_num = [1, 2, 7,8,8]
n = len(n_num)
  
data = Counter(n_num)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
  
if len(mode) == n:
    get_mode = "No mode found"
else:
    get_mode = "Mode is: " + ', '.join(map(str, mode))
      
print(get_mode)

Mode is / are: 8

##• Write a Python program to swap cases of a given string

In [9]:
def swap_cases_string(s):
   ans_s = ""   
   for item in s:
       if item.isupper():
           ans_s += item.lower()
       else:
           ans_s += item.upper()           
   return ans_s
print(swap_cases_string("Hello Vinita"))

hELLO vINITA

##• Write a program to convert an integer to binary & octa decimal

In [31]:
def integer_to_octal(num):
    x=str(oct(num))
    print(int(x[2::]))
x=integer_to_octal(9)
x

11

In [32]:
def integer_to_binary(num):
     x=str(bin(num))
     print(int(x[2::]))
integer_to_binary(10)

1010