Name:Vinita Singh

# Exercise:
1)	Write a program to create a list of n integer values and do the following

•	Add an item in to the list (using function)

In [2]:
li=[1,2,4,7,9]
li.append(5)
print(li)

[1, 2, 4, 7, 9, 5]

Delete (using function)

In [3]:
li.pop(2)
#list after deleting item at index 2
print(li)

[1, 2, 7, 9, 5]

•	Store the largest number from the list to a variable

In [6]:
li=[1,3,6,8,4,9]
x=max(li) #Largest element of li
print(x)

9

Store the Smallest number from the list to a variable

In [7]:
li=[1,3,6,8,4,9]
y=min(li) # smallest element of li
print(y)

1

2) Create a tuple and print the reverse of the created

In [13]:
x=(1,2,3,4,5,6)
y=x[::-1]
print(y) # reverse of tuple

(6, 5, 4, 3, 2, 1)

     3) Create a tuple and convert tuple into list

In [14]:
x=(1,2,3,4,5,6)
y=list(x)
print(y)

[1, 2, 3, 4, 5, 6]